{% extends 'administrator/base.html' %}
{% load static %}

{% block title %}
EVEREST | Support Contacts
{% endblock %}

{% block content %}
<main class="container-fluid">

  <h1 class="text-center" style="font-weight: bold;">SUPPORT CONTACTS</h1>
  <hr class="my-4">

  {% for message in messages %}
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible"
    style="z-index: 2; background-color: #C0392B; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    <strong>{{ error|escape }}</strong>
    <button type="button" class="close btn btn-interact text-white" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </div>
  {% endfor %}
  {% endfor %}
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <p class="alert alert-danger alert-link alert-dismissible text-white"
    style="z-index: 2; background-color: #C0392B; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    {{ message }}
    <button type="button" class="close btn btn-interact" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </p>
  {% else %}
  <p class="alert alert-success alert-link alert-dismissible text-white"
    style="z-index: 2; background-color: #27AE60; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    {{message}}
    <button type="button" class="close btn btn-interact" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </p>
  {% endif %}
  {% endfor %}

  <form method="POST" class="form-control container-fluid mb-3 p-3" style="border: none;">
    {% csrf_token %}
    <div class="container-fluid row" style="align-items: center; text-align: center;">
      <div class="form-group col-md-3">
        <label for="id_contact_type">Contact Type: </label>
        {{ support_contact_submit.contact_type }}
      </div>
  
      <div class="form-group col-md-7">
        <label for="id_contact_type">Contact Information: </label>
        {{ support_contact_submit.support_contact }}
      </div>

      <div class="form-group col container my-2">
        <button class="btn btn-primary" style="font-weight: bold;"type="submit">SUBMIT</button>
      </div>
    </div>
  </form>

  <div class="my-4">
    <table id="qlist" style="width: 100%;">
      <thead>
        <th>
          TYPE
        </th>
        <th>
          CONTACT INFORMATION
        </th>
        <th></th>
      </thead>

      {% for contact in support_contacts %}
      <tr>
        <td>{{ contact.contact_type }}</td>
        <td>{{ contact.support_contact }}</td>
        <td>
          <form
            onsubmit="return confirm('WARNING: Are you sure you want to contact information: {{ contact.support_contact }}?');"
            method="POST" action="{% url 'delete-contact' contact.id  %}">{% csrf_token %}
            <button type="submit" class="btn btn-interact btn-danger">Delete</button><input type="hidden" name="q_id"
              value="{{i.id}}" />
          </form>
        </td>
      </tr>
      {% endfor %}

    </table>
  </div>


</main>

<script>
  $(document).ready(function () {
    $('#qlist').DataTable({
      dom: 'Bfrltip',
      buttons: [
        {
          extend: 'csv',
          text: 'CSV',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
        {
          extend: 'excel',
          text: 'Excel',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
        {
          extend: 'pdf',
          text: 'PDF',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
        {
          extend: 'print',
          text: 'Print',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
      ],
      "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]],
      "pagingType": "full_numbers",
      "pageLength": 10,
      "scrollX": true
    });
  });
</script>

{% endblock %}