{% extends 'member/base.html' %}
{% load static %}

{% block title %}
EVEREST | All Transactions
{% endblock %}

{% block content %}
<style>
  #id_search_fields {
    width: 9em !important;
  }

  #id_cost {
    width: 4.2em !important;
  }

  #id_event_type {
    width: 8.5em !important;
  }

  #id_approval {
    width: 7em !important;
  }
</style>

<main class="container-fluid">
  <section class="container container-fluid">
    <h1 class="text-center" style="font-weight: bold;">ALL TRANSACTIONS</h1>
    <hr class="my-4">
  </section>

  <form method="GET" class="form-control container-fluid mb-3 p-3" style="border: none;">
    <div class="container-fluid row" style="align-items: center; text-align: center;">
      <div class="form-group col-md-4">
        <label for="id_name">Keyword: </label><br>
        {{ transactions_filter.form.search_fields }}
      </div>

      <div class="form-group col-md-1">
        <label for="id_cost">Price: </label><br>
        {{ transactions_filter.form.cost }}
      </div>

      <div class="form-group col-md-2">
        <label for="id_event_type">Type: </label><br>
        {{ transactions_filter.form.event_type }}
      </div>

      <div class="form-group col-md-2">
        <label for="id_event_type">Status: </label><br>
        {{ transactions_filter.form.approval }}
      </div>

      <div class="form-group col container">
        <button class="btn btn-secondary"
          style="font-weight: bold; background-color: rgba(34, 166, 170, 0.918); border: none;"
          type="submit">FILTER</button>
      </div>
    </div>
  </form>

  <section class="">
    <div>
      <table id="qlist" style="width: 100%;">
        <thead>
          <th>
            TID
          </th>
          <th>
            EVENT
          </th>
          <th>
            DATE
          </th>
          <th>
            DESCRIPTION
          </th>
          <th>
            STATUS
          </th>
        </thead>
    
        {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.id }}</td>
          <td><a style="text-decoration: none; color: black; font-weight: bold;" href="/member/events/event/{{ transaction.event.id }}">{{ transaction.event.event_name }}</a></td>
          <td>{{ transaction.date_created }}</td>
          <td>{{ transaction.event.short_description }}</td>
          <td class="{% if transaction.is_registration_approved == 'APPROVED' %}bg-success{% elif transaction.is_registration_approved == 'PENDING' %}bg-primary{% else %}bg-danger{% endif %}" style="text-align: center; color: white;">{{ transaction.is_registration_approved }}</td>
        </tr>
        {% endfor %}
    
      </table>
    </div>
  </section>

</main>

<script>
  $(document).ready(function () {
    $('#qlist').DataTable({
      dom: 'Bfrltip',
      buttons: [
        {
          extend: 'csv',
          text: 'CSV',
          className: 'btn btn-default',
        },
        {
          extend: 'excel',
          text: 'Excel',
          className: 'btn btn-default',
        },
        {
          extend: 'pdf',
          text: 'PDF',
          className: 'btn btn-default',
        },
        {
          extend: 'print',
          text: 'Print',
          className: 'btn btn-default',
        },
      ],
      "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]],
      "pagingType": "full_numbers",
      "pageLength": 10,
      "scrollX": true
    });
  });
</script>

{% endblock %}